.card-body{
    border: 1px solid rgba(59, 59, 59, 0.144);
    margin-top: 100px;
    border-radius: 8px;
}
body{
    background-color: #ebebeb;
    color: white;
}
.brand{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.app-header{
    /* border-bottom: 1px solid rgba(59, 59, 59, 0.144); */
    color: white;
    /* background-color: rgb(38, 174, 236); */
    /* background-color: pink; */
}

.left-sidebar{
    /* background-color: rgb(38, 174, 236); */
    color: white;
    /* background-color: #4554ff; */
}
.cards:hover{
    opacity : 90%;
}
.card-content{
    background-color: #ebebeb;
}
.card-body{
    background-color: white;
}
